{% extends '../base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <h1 class="welcome-user-msg mt-1">Welcome, {{ username }}</h1>
    <h3 class="user-status">{% if user.is_superuser %}<span class="admin-tag">Admin</span>{% elif user.is_staff %}Staff Member{% endif %}</h3>
        <div class="card-container d-flex flex-column flex-md-row gap-3">
            <div class="card shadow-lg">
                <img src="../../../static/images/cow.jpeg" alt="Cow Image" class="card-img-top" width="330" height="220">
                <div class="card-body">
                    <h4 class="card-title">Check out our cows</h4>
                    <p class="card-text">Healthiest and finest cattle you could find.</p>
                    <a href="stocks/?q=cow&sale_status=" class="btn btn-primary">Check them in our stocks</a>
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="card-body">
                    <h4 class="card-title">Best Livestock</h4>
                    <p class="card-text">Good and humanely-raised sheep in our stables.</p>
                    <a href="stocks/?q=sheep&sale_status=" class="btn btn-primary">Check them in our stocks</a>
                </div>
                <img src="../../../static/images/sheep.jpeg" alt="Cow Image" class="card-img-bottom" width="330" height="220">
            </div>
            <div class="card shadow-lg">
                <img src="../../../static/images/chicken.jpg" alt="Cow Image" class="card-img-top" width="330" height="220">
                <div class="card-body">
                    <h4 class="card-title">Found in our stock..</h4>
                    <p class="card-text">Any animal you would possibly need.</p>
                    <a href="stocks/?q=chicken&sale_status=" class="btn btn-primary">Check them in our stocks</a>
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="card-body">
                    <h4 class="card-title">Best-of-the-Best Birds..</h4>
                    <p class="card-text">..delivered right to your pens.</p>
                    <a href="stocks/?q=duck&sale_status=" class="btn btn-primary">Check them in our stocks</a>
                </div>
                <img src="../../../static/images/duck.jpg" alt="Cow Image" class="card-img-bottom" width="330" height="220">
            </div>
        </div>
        
        <div class="shippings card mt-4 border-0">
            <div class="card-head p-2 bg-primary text-white m-0 rounded d-flex flex-row">
               <span>Your orders</span>
               <a href="{% url 'shipping' %}" class="text-white ms-auto">See more..</a>
            </div>
            <div class="class-body d-flex flex-md-row flex-column p-4 gap-3">
                {% for order in orders %}
                    <div class="card p-5 d-flex flex-column justify-content-center align-items-center">
                        <span>Order ID: {{ order.pk }}</span>
                        <span>{{ order.animal }} Order</span>
                        <span>${{ order.total_price }}</span>
                        <span>{{ status }}</span>
                    </div>
                    {% empty %}
                        No Orders
                {% endfor %}
            </div>
        </div>
{% endblock %}